<h1>Mongo Scraper</h1>
{{#each articles}}

<div id="articles">
  <h2>Article Title</h2>
  <a href="{{this.link}}" target="_blank">{{this.title}}</a>
</div>

<div>
  {{this.summary}}
</div>

<div id="notes">
  <h2>Add a Note</h2>
  <form class="create-form">

  <div class="form-group">
    <label for="note">Note:</label>
    <input type="text" data-id="{{this.id}}">
  </div>

  <button type="submit">Add Note</button>
  {{/each}}
  </form>
</div>
